<h4>Связаться с нами:</h4>

<h5>Если вы хотите отправить письмо в редакцию  "Заметки Рыбака", пишите на адрес pochtabydet@gmail.com</h5>
</br>
<h4>Реклама:</h4>
<h5>По вопросам рекламы на сайте и по вопросам партнерских взаимоотношений и информационной поддержки, пишите на адрес advgdfgdg@mail.ru</h5>
</br>

<h4>Авторам:</h4>
<h5>Если вы любите рыбалку, умеете красиво писать и быть модератором, присылайте свое резюме на адрес hr@jewellerymag.ru</h5>