<h4>Данная страница находится в разработке! Приносим извинения за доставленные неудобства!</h4>
<h2>Новое сообщение:</h2>
<p>
	<form action="/forum" method="POST" role="form">
		<textarea name="content" class="form-control" rows="6" placeholder="Введите текст"></textarea>
		<br />
	 	<button type="submit" class="btn btn-primary">Опубликовать</button>
	</form>
    
</p>